<footer class="mt-4">
    <div class="row">
        <span class="ml-auto mr-auto">
            Copyright &copy; Christophe Daloz - De Los Rios, 2019
        </span>
    </div>

    <div class="row">
        <span class="ml-auto mr-auto">
            Les noms de villes, camions et autres éléments sont extraits du jeu <b>Euro Truck Simulator 2</b> de <i>SCS Software</i>
        </span>
    </div>
</footer>
