{% extends 'layout.html.twig' %}

{% set title = 'News' %}

{% block body %}
    <div class="row mt-4">
        <article class="col-md-6 col-lg-3">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">Lorem ipsum dolor.</h2>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, beatae, debitis distinctio doloribus ea earum eius error esse excepturi harum impedit in recusandae reiciendis sapiente sit velit veniam voluptas. Ipsum?
                    </p>
                    <a href="#" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </article>

        <article class="col-md-6 col-lg-3">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">Lorem ipsum dolor.</h2>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, beatae, debitis distinctio doloribus ea earum eius error esse excepturi harum impedit in recusandae reiciendis sapiente sit velit veniam voluptas. Ipsum?
                    </p>
                    <a href="#" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </article>

        <article class="col-md-6 col-lg-3">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">Lorem ipsum dolor.</h2>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, beatae, debitis distinctio doloribus ea earum eius error esse excepturi harum impedit in recusandae reiciendis sapiente sit velit veniam voluptas. Ipsum?
                    </p>
                    <a href="#" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </article>

        <article class="col-md-6 col-lg-3">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">Lorem ipsum dolor.</h2>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, beatae, debitis distinctio doloribus ea earum eius error esse excepturi harum impedit in recusandae reiciendis sapiente sit velit veniam voluptas. Ipsum?
                    </p>
                    <a href="#" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
        </article>
    </div>

    <div class="row mt-4">
        <nav aria-label="pagination" class="ml-auto mr-auto">
            <ul class="pagination">
                <li class="page-item disabled"><a href="#" class="page-link"><span aria-label="Previous">&laquo;</span></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"><span aria-label="Next">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
