{% extends 'layout.html.twig' %}

{% set title = 'News' %}

{% block body %}
    <div class="row mt-4">
        {{ controller('Bundle\\News:NewsController:returnNewsAction') }}
    </div>

    <div class="row mt-4">
        <nav aria-label="pagination" class="ml-auto mr-auto">
            <ul class="pagination">
                <li class="page-item disabled"><a href="#" class="page-link"><span aria-label="Previous">&laquo;</span></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"><span aria-label="Next">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
