{{ user.login }},

<p>
    Vous avez demandez à réinitialiser votre mot de passe.<br>
    Veuillez trouver ci-dessous votre nouveau code d'accès :<br>
    <b>{{ password }}</b><br>
    Une fois que vous vous serez connecté, il est fortement<br>
    conseillé de changer le code.
</p>

<p>
    Nous vous remercions de l'intérêt que vous portez à ETS2Routes,<br>
    et nous espérons vous revoir bientôt.
</p>

<p>
    Cordialement,
    L'administration de ets2routes.com
</p>
