<?php
/**
 * Copyright (c) 2019 Christophe Daloz - De Los Rios
 * This code is licensed under MIT license (see LICENSE for details)
 */

return [
    'database.host' => '',
    'database.port' => 3306,
    'database.user' => '',
    'database.password' => '',
    'database.name' => '',
    'database.driver' => 'pdo_mysql',
];
