<?php
/**
 * Copyright (c) 2019 Christophe Daloz - De Los Rios
 * This code is licensed under MIT license (see LICENSE for details)
 */

use Twig\Loader\FilesystemLoader;

return [
    'twig.loader' => [
        'class' => FilesystemLoader::class,
        'arguments' => ['web/template']
    ],
    'twig.environment' => [
        'class' => \Twig\Environment::class,
        'arguments' => ['@twig.loader', ['cache' => false]]
    ],
    'session' => [
        'class' => Session::class,
    ],
    'mailer' => [
        'class' => \Kernel\Mailer::class,
        'arguments' => ['%mailer.host%', '%mailer.user%', '%mailer.pass%', '%mailer.port%', '%mailer.encryption%']
    ],
];
