<?php
/**
 * Copyright (c) 2019 Christophe Daloz - De Los Rios
 * This code is licensed under MIT license (see LICENSE for details)
 */

return [
    'vars.uri' => '',
    'mailer.host' => '',
    'mailer.port' => 25,
    'mailer.user' => '',
    'mailer.pass' => '',
    'mailer.encryption' => null,
    'mailer.from' => '',
    'mailer.from.name' => 'ETS2Routes',
];
